// http://kuler.adobe.com/#themeID/699303 - waterfall
!black = #4A463F
!navy = #396070
!cyan = #7FA39D
!tan = #BFBEB0
!sand = #F2EADF

// http://kuler.adobe.com/#themeID/699316 - mme la reine
!pink = #E94B98
!light_pink = #FF74C5
!white = #FEF0FF
!maroon = #652734
!green = #D4FC9C

!blue = #86BFCF

// semantic names
!background = !black
!form = rgba(255,255,255,0.9)
!input = rgba(255,255,255,0.5)
!highlight = rgba(255,255,255,0.5)
!link = !blue
!text = !black
!border_color = !black + #fff + #ccc

// font sizes
!large = 28pt
!medium = 18pt
!small = 12pt


=rounded(!width = 5px)
  :-webkit-border-radius = !width
  :-moz-border-radius = !width
=drop_shadow
  :-webkit-box-shadow = 0px 5px 20px rgba(51, 51, 51, 0.3)
  :-moz-box-shadow = 0px 5px 20px rgba(51, 51, 51, 0.3)
=border(!color = !border_color)
  :border #{!color} solid 1px

body, input, button, select, textarea
  :font #{!large} helvetica neue, helvetica, arial, sans-serif
  :color = !black
  .minor, .minor input, .minor select, .minor button
    :font-size = !medium
body
  :text-align center
  :background-color = !background
  //:background -webkit-gradient(radial, 50% 120, 40, 50% 200, 500, from(#{!background + #ccc}), to(#{!background}))
  :background url('/images/bg.jpg')
  :min-height 600px

input[type=submit], button
  +rounded
  +border(!link)
  :padding-left 1ex
  :padding-right 1ex
  :background-color = !link
  :background -webkit-gradient(linear, left top, left bottom, from(#{!link+#fff}), to(#{!link}))
  :color = #eee
  :text-shadow #{!border_color} 0px 1px 0px
  &:active
    :background -webkit-gradient(linear, left bottom, left top, from(#{!link+#ccc}), to(#{!link}))

input[type=text], input[type=password], select, textarea
  +border
  +rounded
  :padding 0.4ex
  :background-color = !input

a
  :color = !link
  :text-decoration none

p
  :margin 0px

h1, h2, h3, h4, h5, h6
  :margin 0px 0px 1ex

.box
  +rounded(5px)
  +drop_shadow
  +border
  :background-color #fff
  :background-color = !form
  :background -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), to(rgba(255,255,255,0.8)))
  :padding 0.5em 1em 1em
  :text-shadow = !highlight 0px 1px 0px
  :margin 1em auto
  :width 888px

// index
body.index-index
  :overflow-y scroll
  :overflow-x hidden
  .login
    :float right
    :font-size = !small
  form
    input#url, input#file
      :width 20ex
    input#resize, input#crop
      :width 5ex
    input#key
      :width 20ex
    label
      :cursor pointer
      :margin-left 1ex
      &:first-child
        :margin-left 0px
    h6 .pink
      :color = !light_pink
    p.minor
      :margin-top 1ex
    p.options, #info
      :display none
    #info
      :font-size = !medium
      hr
        :height 0px
        :border none
        :border-top #{!border_color} 1px solid
        :border-bottom #{!highlight} 1px solid
        :margin 1em 0px
      label
        :line-height 1.8em
      textarea
        :font-size = !medium
        :vertical-align top
        :width 80%
        :line-height 1.4em
        :height = 3 * 1.4em
    p#message
      :color = !pink
  img.loading
    :margin-top 1em
  img.thumbnail
    :margin 0px auto 4em
    :border 10px solid rgb(200, 200, 200)
    :border-color = !form
    +rounded(5px)
    :-webkit-box-reflect below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(255,255,255,0.3)))
  #billing
    :display none
    :font-size = !small
    :margin-top 1em
    input[type=submit], button
      :font-size = !medium
    table
      :table-layout fixed
      :margin 0px auto
      :width 100%
      th:first-child
        :width 24ex
      tr.explain
        :text-align left
        .explain
          :display none
          :padding 1ex
          :line-height 1.6em
  img.polaroid
    +drop_shadow
    :position absolute
    :z-index -1
    :border solid 4px #fff
    :border-bottom-width 20px

// login
body.login-new, body.people-new
  :text-align left
  p
    :margin-top 0.5em
